In [1]:
#importing packages and reading statements
import pandas as pd
income_statement = pd.read_json("https://fmpcloud.io/api/v3/income-statement/AAPL?limit=120&apikey=demo")
income_statement.set_index('date', inplace=True)
cash_flow = pd.read_json("https://fmpcloud.io/api/v3/cash-flow-statement/AAPL?limit=120&apikey=demo")
cash_flow.set_index('date', inplace=True)

We only need revenue, Earnings per share and free cash flow

In [2]:
data = income_statement[['revenue', 'eps']].copy()
data['fcf'] = cash_flow['freeCashFlow']

In [3]:
data

                 revenue       eps           fcf
date
2022-09-24  394328000000  6.150000  1.114430e+11
2021-09-25  365817000000  5.670000  9.295300e+10
2020-09-26  274515000000  3.310000  7.336500e+10
2019-09-28  260174000000  2.992500  5.889600e+10
2018-09-29  265595000000  3.002500  6.412100e+10
2017-09-30  229234000000  2.317500  5.080300e+10
2016-09-24  215639000000  2.087500  5.227600e+10
2015-09-26  233715000000  2.320000  6.977800e+10
2014-09-27  182795000000  1.622500  4.990000e+10
2013-09-28  170910000000  1.429643  4.459000e+10
2012-09-29  156508000000  1.594286  4.145400e+10
2011-09-24  108249000000  1.001786  3.007700e+10
2010-09-25   65225000000  0.550357  1.647400e+10
2009-09-26   36537000000  0.228214  8.946000e+09
2008-09-27   32479000000  0.195714  8.397000e+09
2007-09-29   24006000000  0.144286  4.484000e+09
2006-09-30   19315000000  0.084286  1.563000e+09
2005-09-24   13931000000  0.058929  2.275000e+09
2004-09-25    8279000000  0.013214  7.580000e+08
2003-09-27    6207000000  0.003393  1.250000e+08
2002-09-28    5742000000  0.003214 -8.500000e+07
2001-09-29    5363000000 -0.001250 -4.700000e+07
2000-09-30    7983000000  0.043214  7.190000e+08
1999-09-25    6134000000  0.037500  7.510000e+08
1998-09-25    5941000000  0.020893  7.190000e+08
1997-09-26    7081000000 -0.074018  1.350000e+08
1996-09-27    9833000000 -0.058839  4.520000e+08
1995-09-29   11062000000  0.030804 -3.990000e+08
1994-09-30    9188748000  0.023304  5.774080e+08
1993-09-30    7977000000  0.006607 -8.749000e+08
1992-09-30    7086500000  0.038750  6.888000e+08
1991-09-30    6308800000  0.023036 -8.960000e+07
1990-09-30    5558400000  0.033750  7.396000e+08
1989-09-30    5284000000  0.031607  2.683000e+08
1988-09-30    4071400000  0.027500           NaN
1987-09-30    2661100000  0.014821           NaN
1986-09-30    1901900000  0.010714           NaN
1985-09-30    1918300000  0.004464           NaN

Calculating percentage change

In [4]:
data = data.sort_index()
data['rev %-chg'] = data['revenue'].pct_change()
data['eps %-chg'] = data['eps'].pct_change()
data['fcf %-chg'] = data['fcf'].pct_change()

In [7]:
data['rev %-chg'].head()

date
1985-09-30         NaN
1986-09-30   -0.008549
1987-09-30    0.399180
1988-09-30    0.529969
1989-09-30    0.297834
Name: rev %-chg, dtype: float64

In [8]:
data['rev %-chg'].tail()

date
2018-09-29    0.158620
2019-09-28   -0.020411
2020-09-26    0.055121
2021-09-25    0.332594
2022-09-24    0.077938
Name: rev %-chg, dtype: float64

In [9]:
data['eps %-chg'].head()

date
1985-09-30         NaN
1986-09-30    1.400090
1987-09-30    0.383330
1988-09-30    0.855475
1989-09-30    0.149345
Name: eps %-chg, dtype: float64

In [10]:
data['eps %-chg'].tail()

date
2018-09-29    0.295577
2019-09-28   -0.003331
2020-09-26    0.106099
2021-09-25    0.712991
2022-09-24    0.084656
Name: eps %-chg, dtype: float64

Only need 10 years of data for analysis

In [11]:
#setting the index uptill 10 years from 2022
data_set = data.loc['2010-01-01':]
data_set.index = data_set.index.year
rev = data_set[['revenue', 'rev %-chg']].copy()
eps = data_set[['eps', 'eps %-chg']].copy()
fcf = data_set[['fcf', 'fcf %-chg']].copy()

In [12]:
#creating an excel file
def create_sheet(writer, df, sheet_name):
    df.to_excel(writer, sheet_name=sheet_name)
writer = pd.ExcelWriter("financials.xlsx", engine='xlsxwriter')
workbook = writer.book
create_sheet(writer, rev, 'Revenue')
create_sheet(writer, eps, 'EPS')
create_sheet(writer, fcf, 'FCF')
workbook.close()

In [17]:
#adding charts in excel file
def create_sheet(writer, df, sheet_name):
    df.to_excel(writer, sheet_name=sheet_name)
    worksheet = writer.sheets[sheet_name]
    workbook = writer.book
      
    chart = workbook.add_chart({'type': 'line'})
    
    chart.add_series({
        'name': sheet_name,
        'categories': [sheet_name, 1, 0, 11, 0],
        'values': [sheet_name, 1, 1, 11, 1],
    })
    
    column_chart = workbook.add_chart({'type': 'column'})
    
    column_chart.add_series({
        'name': sheet_name,
        'categories': [sheet_name, 1, 0, 11, 0],
        'values': [sheet_name, 1, 2, 11, 2],
        'y2_axis': True,
    })
    
    chart.combine(column_chart)
    chart.set_title({'name': sheet_name})
    chart.set_x_axis({'name': 'Date'})
    chart.set_y_axis({'name': 'Value'})
    column_chart.set_y2_axis({'name': '%-chg'})
    
    worksheet.insert_chart("E1", chart)